[run]
branch = True
source = .
data_file=/tmp/coverage
omit =
    *_test.py
    *_tests.py

[report]
exclude_lines =
    pragma: no cover
show_missing = False
precision = 2

[html]
directory = htmlcov
