cffi==1.9.1
cryptography==1.7.1
enum34==1.1.6
idna==2.1
ipaddress==1.0.17
nodeenv==1.1.0
nose==1.3.7
Paste==2.0.3
pyasn1==0.1.9
pycparser==2.17
PyInstaller==3.2
pyOpenSSL==16.2.0
six==1.10.0
-e git://github.com/CLIxIndia-Dev/webpy.git@025d7f43c0eea78f724d41edff13e0cf8cf46028#egg=web.py
