.act-container {
  color: #777;
  background-color: #fff;
}

/* IFRAME */

.act-iframe--fill-win {
  margin: 0;
  padding: 0;
  border: none;
  height: calc(100vh - 3.438em);
  width: 100%;
}

.act-iframe--fill-win > body {
  margin: 0;
}


/*NEED A HOME*/

.c-navWrapper {
  flex: 1;
}

.c-section {
  flex: 50;
  display: flex;
  flexDirection: column;
}

.c-label {
  font-weight: bold;
  margin-right: 0.938em;
  margin-bottom: 0.938em;
  flex: 2;
}

.c-formRow {
  display: flex;
  width: 25em;
  margin: 0.313em;
}

.c-value {
  flex: 2;
}
