/* BREADCRUMBS */

.c-breadcrumbs__header {
  position: relative;
    margin: 1.2em auto 0px;
    z-index: 10;
    width: 100%;
}

.c-breadcrumbs__nav {
  width: 100%;
}

.c-breadcrumbs__list {
  position: absolute;
  top: 0;
  left: 1.5em;
  display: inline-block;
}

.c-breadcrumbs__list li {
  display: inline-block;
  background-color: hsla(327, 100%, 0, 1);
}


.c-breadcrumbs__list a {
  display: inline-block;
  margin: 0 .25em;
  padding: 0.33em 0.188em;
  color: #fff;
  font-size: 0.875em;
  letter-spacing: .02em;
  text-transform: uppercase;
  border-bottom: 4px solid hsla(327, 100%, 60%, 0);
}

.c-breadcrumbs__list a[aria-current="page"] {
  border-bottom: 4px solid hsla(327, 100%, 60%, 1);
  font-family: 'open_sansbold'
}

.c-breadcrumbs__list a:hover {
  border-bottom: 4px solid hsla(327, 100%, 75%, 1);
}

.c-breadcrumbs__list a:active {
  border-bottom: 4px solid hsla(327, 100%, 60%, 1);
}

.c-breadcrumbs__list a:focus {
  /*clix-orange*/
  background: radial-gradient(circle at 50% 50%, hsla(28, 91%, 54%, 0.9), hsla(10, 100%, 50%, 0.6));
  transform: scale3d(1.05, 1.05, 1);
  outline: dotted #fff 0.25em;
  outline-offset: .188rem;
  /*box-shadow: 0 0 0 0.15em hsla(327, 100%, 75%, 1);
  border-bottom: 4px solid hsla(327, 100%, 75%, 1);*/
}



.c-breadcrumb__icon {
  color: hsla(327, 100%, 75%, 1);
  margin-right: 0.35em;
}

.c-breadcrumbs__chevron {
  position: relative;
  top: .3em;
  display: inline-block;
  margin: 0 .25em;
}


/*MEDIA QUERIES */
@media only screen and (max-width: 517px) {

  .c-breadcrumbs__list {
    position: absolute;
    top: 0;
    right: 1rem;
    margin-left: 1rem;
    display: inline-block;
  }
}
