/* HEADER */

.c-header {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
  color: #777;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.c-header__logo {
  margin-left: 16px;
  width: 143px;
  height: 32px;
/*   swap bg image url with locally-hosted svg */
  background-image: url('/static/assets/clix-logo.svg');
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.c-header__nav {
  position: absolute;
  top: 30px;
  right: 1em;
}
.c-header__nav > button,
.c-header__nav > a {
  margin-left: 1em;
  padding: 5px;
  background: none;
  border: none;
  border-bottom: 3px solid hsla(316, 77%, 37%, 1);
  color: #777;
  font-size: .7em;
  letter-spacing: .05em;
  text-transform: uppercase;
  transition: all .1s ease;
}

.c-header__nav > button:hover,
.c-header__nav > a:hover {
  background: radial-gradient(hsla(316, 77%, 37%, 1), hsla(316, 88%, 26%, 1));
  border-bottom: 3px solid hsla(316, 88%, 42%, 1);
  color: #fff;
}

.c-header__nav > button:active,
.c-header__nav > a:active {
  background: radial-gradient(hsla(28, 91%, 54%, 0.9), hsla(10, 100%, 50%, 0.7));
  border-bottom: 3px solid hsla(259, 40%, 50%, 1);
  color: #fff;
}

.c-header__nav > button:focus,
.c-header__nav > a:focus {
  background: radial-gradient(hsla(316, 77%, 26%, 1), hsla(316, 88%, 16%, 1));
  border-bottom: 3px solid hsla(316, 88%, 42%, 1);
  color: #fff;
}

.c-header--unplat-v {
  margin-top: 5px;
  margin-right: 16px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 9px;
  text-transform: uppercase;
  color: #777;
}

/* END HEADER */
