/* HEADER */

.c-header {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
  color: #777;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.c-header__logo {
  margin-left: 1.25em;
  width: 143px;
  height: 32px;
  background-image: url('/static/assets/clix-logo.svg');
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.c-header__nav {
  position: absolute;
  top: 30px;
  right: 1.25em;
}
.c-header__nav > a,
.c-header__nav > button {
  margin-left: 1em;
  padding: 5px;
  background: none;
  border: none;
  border-bottom: 3px solid hsla(316, 77%, 37%, 1);
  color: #777;
  font-size: .7em;
  letter-spacing: .05em;
  text-transform: uppercase;
  transition: all .1s ease;
}

.c-header__nav > a:hover,
.c-header__nav > button:hover {
  background: radial-gradient(hsla(316, 77%, 37%, 1), hsla(316, 88%, 26%, 1));
  border-bottom: 3px solid hsla(316, 88%, 42%, 1);
  color: #fff;
}

.c-header__nav > a:focus,
.c-header__nav > button:focus {
  background: radial-gradient(hsla(316, 77%, 26%, 1), hsla(316, 88%, 16%, 1));
  border-bottom: 3px solid hsla(316, 88%, 42%, 1);
  color: #fff;
}

.c-header__nav > a:active,
.c-header__nav > button:active {
  background: radial-gradient(#f37f2f, #f54b32);
  border-bottom: 3px solid #b41f08;
  color: #fff;
}

.c-header--unplat-v {
  margin-top: 5px;
  margin-right: 1.25em;
  position: absolute;
  top: 0;
  right: 1.25em;
  font-size: 9px;
  text-transform: uppercase;
  color: #777;
}

/* END HEADER */
