body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

div {
    font-size: 14px;
}

#content {
    width: 560px;
}

#carousel {
    text-align: center;
}

#questionContent {
    display: inline-block;
    width: 300px;

    border: 1px solid grey;
    background-color: wheat;
    border-radius: 8px;
    padding: 10px;
}

#questionText {
    display: inline-block;
    text-align: left;
}

button.icon {
    border: none;
    background-color: transparent;
}

button i.fa {
    font-size: 24px;
}

button i.fa.nav {
    font-size: 96px;
    color: coral;
}

h1 {
    color: #3737a8;
}

.p { 
    margin: 10px 0;
}

.languageLbl {
    display: inline-block;
    background-color: #0094ff;
    color: white;
    padding: 3px 6px;
}

.translation {
    display: inline-block;
}

#responses {
    vertical-align: top;
}

#sampleResponses {
    width: 400px;
}

#sampleResponses, #sampleResponses td {
    border: 2px solid grey;
    border-collapse: collapse;
}

#sampleResponses td {
    padding: 4px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#recordResponse {
    display: inline-block;
    vertical-align: top;
    border: 2px solid grey;
    text-align: center;
    padding: 8px;
}


#toggleRecordBtn {
    background-color: grey;
    border-radius: 8px;
    padding: 4px 8px;
}
#toggleRecordBtn:hover {
    color: firebrick;
}
#toggleRecordBtn.active {
    color: red;
}
#toggleRecordBtn i{
    font-size: 36px;
}

#repsonse {
    width: 450px;
}
#instructions2 {
    width: 100%;
}

#roles {
    width: 400px;
    border: 2px solid grey;
}

#roles div {
    /*display: inline-block;
    width: 180px;*/
    margin: 8px;
    vertical-align: text-top;
}
#roles button {
    float: right;
}

.hidden {
    display: none;
}