/*MODAL*/

.container-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(112, 0, 82, 0.8);
    z-index: 100;
}

/*::backdrop {
  background-color: rgba(112, 0, 82, 0.8);
}*/

dialog {
  top: 5%;
  height: 200px;
  margin: 100px auto;
  border: none;
  border-radius: .3em;

}

.zoomModal button {
  margin: 20px 5px;
  padding: 10px 40px;
  background: radial-gradient(hsla(259, 40%, 40%, 1), hsla(259, 40%,30%, 1));
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
}


.zoomModal button:hover {
  background-color: #666;
  background: radial-gradient(hsla(259, 40%, 30%, 1), hsla(259, 40%,20%, 1));
}

.zoomModal button:active {
  background: radial-gradient(#f37f2f, #f54b32);
}

.zoom-label {
  margin: 30px auto 10px;
  font-size: 1.75rem;
  text-align: center;

}

.zoomModal > form {
  display: flex;
  justify-content: center;
}
